.r-tabs {
	position: relative;
}

.r-tabs .r-tabs-nav {
	border-bottom: 1px solid #999;
}

.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	top: 1px;
}

.r-tabs .r-tabs-nav .r-tabs-anchor {
	background: #E2EBEE;
	margin-bottom: 3px;
	padding: 10px 12px;
	display: inline-block;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
}

.r-tabs .r-tabs-nav .r-tabs-state-active {
	background-color: #fff;
	margin-bottom: -1px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	width: calc(18% - 2px);
}

.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #585A69;
	background-color: #fff;
}

.r-tabs .r-tabs-panel {
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	margin-bottom: 3px;
	background: #fff;
}

.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: #f8f8f8;
	color: #585A69;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 3px;
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #fff;
	color: #585A69;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	margin-bottom: 0;
}

.froggy-box-choice {
	float: left;
	text-align: center;
	display: block;
	margin: 5px auto;
	padding: 0;
}

.froggy-box-choice label {
	margin-bottom: 10px;
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
	cursor: pointer;
}

.froggy-box-choice img {
	margin-bottom: 10px;
}

.froggy-box-choice+.froggy-box-choice {
	margin-left: 40px;
}

.name-froggy-box {
	margin-left: 5px;
}

.title-modal {
	margin: 50px 0;
	text-align: center;
}

.main-style-block {
	width: 31%;
}

.main-style-block h3 {
	margin: 3px 0 0;
}

.main-style-block label {
	padding: 0;
	width: auto;
	float: none;
	cursor: pointer;

}

.main-style-block li {
	margin-bottom: 10px;
}

.main-style-block ul{
	margin-top: 10px;
	padding: 0;
	list-style: none;
}